@media (max-width: 767px) {
  .navigation__menu {
    margin: 0px auto;
    padding-top: 20px;
  }

  header {
    background-image: url(../img/main-image-320-540.png);
  }

  .logo {
    padding-top: 114px;
    margin: 0px auto;
  }

  .searching__tagline {
    font-size: 30px;
    width: 300px;
    padding-top: 68px;
    padding-bottom: 15px;
  }

  .searching__text {
    font-size: 18px;
    width: 230px;
    padding-bottom: 18px;
  }

  .finder {
    width: 280px;
    margin-bottom: 138px;
  }

  .partners__tagline {
    padding-top: 68px;
    padding-bottom: 18px;
    width: 290px;
  }

  .partners__menu {
    flex-direction: column;
  }

  .partners__button {
    width: 284px;
    height: 44px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  header {
    background-image: url(../img/main-image-768-700.png)
  }

  .navigation__menu {
    margin: 0px;
    padding-top: 40px;
  }

  .logo {
    margin: 0px;
    padding-top: 44px;
  }

  .searching__tagline {
    font-size: 52px;
    width: 510px;
    padding-top: 220px;
    padding-bottom: 32px;
  }

  .searching__text {
    font-size: 24px;
    width: 404px;
    padding-bottom: 34px;
  }

  .finder {
    width: 226px;
    margin-bottom: 234px;
  }

  .partners__tagline {
    width: 420px;
    padding-bottom: 30px;
  }

  .partners__menu {
    flex-direction: column;
    flex-wrap: wrap;
    height: 520px;
  }

  .partners__button {
    width: 197px;
    height: 44px;
  }
}

@media (min-width: 1440px) {
  header {
    background-image: url(../img/main-image-1440-700.png)
  }

  .navigation__menu {
    margin: 0;
    padding-top: 40px;
  }

  .logo {
    margin: 0px;
    padding-top: 44px;
  }

  .searching__tagline {
    font-size: 52px;
    width: 510px;
    padding-top: 220px;
    padding-bottom: 32px;
  }

  .searching__text {
    font-size: 24px;
    padding-bottom: 34px;
  }

  .finder {
    width: 226px;
    margin-bottom: 234px;
  }

  .partners__tagline {
    padding-bottom: 30px;
  }

  .partners__button {
    width: 197px;
    height: 44px;
  }
}