/* GENERAL*/
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0px auto;
    padding: 0px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
/* GENERAL FOR PAGE */
  body {
      width: 940px;
      margin: 0px auto;
  }

  .main-nav {
      display: flex;
      justify-content: space-between;
  }

  .main-nav__menu {
      margin: 0px;
      display: flex;
      width: 480px;
      list-style: none;
  }
  .logo {
    margin: 0px;
  }
  .main-nav__list-a {
    margin: 0px;
    text-decoration: none;
  }

/* SERVICES */
.services {
  text-align: center;
}
.services__h2 {

}
.services__menu {
  list-style: none;
}
.services__text {
    
}

.services__menu {
    margin: 0px;
    width: 920px;
    display: flex;
}

/* CONTACT US */
.contact-us__h2 {
text-align: center;
}
.contact-us__text {
    text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.buttons-requisites {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 457px;
  height: 52px;
}

.contuct-us__buttons-button {
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  margin: 0 auto;
}

}
.comments {
  width: 457px;
  height: 211px;
}