/* ОБЩЕЕ для всех страниц*/
html {
  box box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
/* * { 
  margin: 0px;
  padding: 0px;
  }

  ul,
  ol {
    list-style: none;
  }*/


/* чтоб родитель не схлопывался */
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

 * {outline: 1px solid red;}  */
/* ОБЩЕЕ для body*/
body {
  padding: 0px;
  margin: 0px auto; 
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #666666;
  width: 1110px;
  text-decoration: none;
  text-transform: none;
  background-color: #ffffff;
}
/* HEADER - logo*/
header {
  width: 1110px;
 }
.logo {
margin: 0px;
padding-top: 36px;
float: left; 
font-family: "Roboto", sans-serif;
font-size: 30px;
line-height: 32px;
font-weight: 300;
text-decoration: none;
text-transform: none;
list-style: none;
color: #555252;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none; 
  }
.main-menu-ul {
margin-bottom: 106px;
padding-top: 38px;
width: 497px;
float: right;
}
.main-menu-list {
margin: 0px;
padding: 0px;
float: left;
}
a:hover {
  color: #33cc99;
}
.main-menu-list:nth-child(1) {
  margin-right: 36px; 
}
.main-menu-list:nth-child(2) {
  margin-right: 36px; 
}
.main-menu-list:nth-child(3) {
  margin-right: 36px; 
}
.main-menu-list:nth-child(4) {
  margin-right: 36px; 
}
.main-menu-list:nth-child(5) {
  margin-right: 36px; 
}
.main-menu-list:nth-child(16) {
  margin-right: 0px;
}

.main-menu-a {
text-decoration: none;
list-style: none;
font-family: "Open Sans", sans-serif;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
list-style: none;
color: #0f0101;;
}

/* FEATURED PRODUCTS SECTION*/
.section-fp {
  margin: 0px;
  padding: 0px;
  width: 1110px;
}
h2 {
  margin: 0px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #515151;
}
.fp-h2 {
clear: both;
}
 .fp-ul {
  margin: 0px;
  padding: 0px;
  width: 1110px;
 }
  .fp-list {
    margin: 0px;
    width: 255px;
    height: 360px;
    margin: 0px;
    padding: 0px;
    float: left;
  }
  .fp-list:not(:nth-child(4)) {
    margin-right: 30px;
  }
  .fp-list:last-child {
    margin: 0px;
  }
  .fp-p1 {
  margin: 0px;
  padding: 7px 0px 6px 13px;
  width: 255px;
  font-family: "Roboto", sans-serif;
 font-size: 18px;
 line-height: 32px;
 font-weight: 900;
 text-decoration: none;
 text-transform: uppercase;
 list-style: none;
 color: #ffffff;
 background-color: #323232;
  }
  span {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    text-align: right!important;
  }
  /* LATEST NEWS SECTION */
  .section-2 {
    margin: 0px;
    padding: 0px;
    width: 1110px;
  }
  .ln-h2 {
    padding-top: 105px;
  }
  .ln-list {
    margin-right: 30px;
    padding: 0px;
    width: 350px;
    height: 495px;
    float: left;
  }
  .ln-list:last-child {
    margin-right: 0px;
  }
  .ln-p1 {
    font-weight: 600;
  }
  .ln-p2 {
    font-weight: 400;
  }
  .button {
    margin: 15px 0px 81px 0px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #ffffff;
    background-color: #66cc99;
    padding-top: 15px;
    padding-bottom: 13px;
    padding-left: 43px;
    padding-right: 42px;
    border: 1px solid #66cc99;;
    border-color: #66cc99;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
  }