.section-as__subtitle,
.section-mot__subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  font-weight: $main-font-weight;
  padding-top: 70px;
  padding-bottom: 16px;
}

.section-as__tagline,
.section-mot__tagline {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 70px;
}

.section-as__tagline::after,
.section-mot__tagline::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 39px;
}

.section-as__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-as__item {
  list-style: none;
  width: 302px;
  position: relative;
  padding-bottom: 90px;
  text-align: left;
}

.section-as__item::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: -62px;
  top: 1px;
  fill-rule: evenodd;
  fill: rgb(149, 225, 211);
}

.section-as__item:first-child::before {
  background-image: url("../images/svg/alarm.svg");
}

.section-as__item:nth-child(2)::before {
  background-image: url("../images/svg/line-graph.svg");
}

.section-as__item:nth-child(3)::before {
  background-image: url("../images/svg/computer.svg");
}

.section-as__item:nth-child(4)::before {
  background-image: url("../images/svg/book.svg");
}

.section-as__item:nth-child(5)::before {
  background-image: url("../images/svg/home.svg");
}

.section-as__item:last-child::before {
  background-image: url("../images/svg/image.svg");
}

.section-as__item-service-name, .section-mot__item-name {
  font-size: 14px;
  font-weight: $secondary-font-weight;
  color: $secondary-item-color;
  text-transform: uppercase;
  line-height: 1.2;
}

.section-as__item-text {
  font-family: "Roboto";
  font-weight: $main-font-weight;
  line-height: 24px;
  color: #999999;
  width: 300px;
}