html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
body {
  padding: 0px;
  margin: 0px auto; 
  font-family: "Playfair Display Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: #666666;
  width: 901px;
}
img {
  width: 420px;
  height: 280px;
}
header {
  margin: 0px;
  padding: 0px;
}

nav.main-nav {
  width: 901px;
  margin: 0px;
  padding: 72px 0px 100px 0px;
  font-size: 0px;
  }

ul {
 margin: 0px;
 padding: 0px;
 list-style: none; /* Убираем маркеры */
 vertical-align: middle;
 text-align: left;
 text-decoration: none;
 color: #666666;
}
li a:hover {
  color: #0099ff;
}
li {
 margin: auto;
  display: inline-block;
  color: #666666;
}
.main-menu-item-1 {
  margin-left: 164px;
}
.main-menu-item-2 {
  margin-left: 121px;
  }
  .main-menu-item-3 {
    margin-left: 103px;
  }
    .main-menu-item-4 {
     margin-left: 95px;
    }

    a {text-decoration: none;
      position: relative;
      display: block;
      overflow: hidden;
      transition: 0,7s all;
      font-size: 14px;
      color: #666666
    }
main{
  font-size: 0px;
  width: 901px;
  margin: 0px auto;
}
section {
  margin: 0px;
}
.section-1 {
  margin-bottom: 127px;
}
.section-2 {
  margin-bottom: 127px;
}

.block-1 {
  margin: 0px;
  margin-right: 61px;
  width: 420px;
  display: inline-block;
  height: 475px;

}
.block-2 {
 
  width: 420px;
  display: inline-block;
  height: 475px;
}
.block-1 {
  margin: 0px;
  margin-right: 61px;
  width: 420px;
  display: inline-block;
  height: 475px;

}
.block-2 {
 
  width: 420px;
  display: inline-block;
  height: 475px;
}
.block-3 {
  margin: 0px;
  margin-right: 61px;
  width: 420px;
  display: inline-block;
  height: 475px;

}
.block-4 {
 
  width: 420px;
  display: inline-block;
  height: 475px;
}
.block-5 {
  margin: 0px;
  margin-right: 61px;
  width: 420px;
  display: inline-block;
  height: 475px;

}
.block-6 {
 
  width: 420px;
  display: inline-block;
  height: 475px;
}
.h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: normal;
  font-size: 30px;
  font-style: normal;
  text-decoration: none;
  color: #666666;
}
.pui-1 {
  font-family: "Ubuntu Light", sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  color: #cc9999;
}
p{
  font-size: 14px;
}
.div-button {
  margin: 0px auto;
  text-align: center;
}
.button {
  margin: 51px 0px;
  padding: 17px 33px;
  border: 1px solid;
  text-align: center;
  background-color: white;
  font-size: 20px;
  text-transform: none;
}
