/* GENERAL*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px auto;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* LANDING PAGE */
/* HEADER */
body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 24px;
  width: 1200px;
}

.navigation {
  width: 1200px;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo {
margin: 0;
text-decoration: none;
}
.navigation__menu {
  margin: 0;
  width: 491px;
  display: flex;
  justify-content: space-between;
}
.navigation__menu-list {
  margin: 0px;
  list-style: none;
  align-items: flex-end;
}
.navigation__menu-list-a {
  text-decoration: none;
  text-transform: uppercase;
}
.amazing-services__p-main {
  text-align: center;
}
.amazing-services__h2 {
  text-align: center;
}
.amazing-services__ul {
  display: flex;
  flex-wrap: wrap;
}
.amazing-services__list {
  list-style: none;
}






.meet-our-team__main-p {
  text-align: center;
}
.meet-our-team__h2 {
  text-align: center;
}
.meet-our-team__ul {
  display: flex;
}

.overlay__ul {
  list-style: none;
}
.footer {
  display: flex;
}












/* .Rectangle_14 {
  background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  position: absolute;
  left: 350px;
  top: 970px;
  width: 380px;
  height: 470px;
  z-index: 19;
}*/
