/* GENERAL*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0px auto;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* LANDING PAGE */
/* HEADER */
body {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  width: 1200px;
  color: #333333;
}

.navigation {
  width: 1200px;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
}

.logo {
margin: 0;
text-decoration: none;
font-weight: 700;
font-size: 30px;
color: #95e1d3;
}
.navigation__menu {
  margin: 0;
  width: 491px;
  display: flex;
  justify-content: space-between;
}
.navigation__menu-list {
  margin: 0px;
  list-style: none;
  align-items: flex-end;
}
.navigation__menu-list-a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #95e1d3;
}
.navigation__menu-list-a:hover:after {
content: "";
display: block;
width: auto;
height: 3px;
background-color: #f38181;
top: 12px;
}
.navigation__menu-list-a:hover {
  color: #f38181;
}

/* MAIN */
/* SECTION AMAZING SERVICES */
.amazing-services__p-main {
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.amazing-services__h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 70px;
}
.amazing-services__h2::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 39px;
}
.amazing-services__ul {
  display: flex;
  flex-wrap: wrap;
}
.amazing-services__list {
  margin: 0px;
  list-style: none;
  width: 301px;
}
.amazing-services__list:nth-child(-n+6) {
  margin-left: 99px;
  margin-bottom: 90px;
}
.amazing-services__list:nth-child(1) {
  margin-left: 92px;
}
.amazing-services__list:nth-child(4) {
  margin-left: 92px;
}
.amazing-services__p-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  width: 300px;
}





/* SECTION MEET OUR TEAM */
.meet-our-team__main-p {
  text-align: center;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
}
.meet-our-team__h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 70px;
}
.meet-our-team__h2::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 39px;
}
.meet-our-team__p-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  width: 960px;
  min-height: 130px;
  text-align: center;
}
.meet-our-team__list {
  list-style: none;
  text-decoration: none;
}
.meet-our-team__list:first-child {
  margin-left: 0px;
}
.meet-our-team__list:last-child {
  margin-right: 0px;
}

.meet-our-team__p-name {
  padding-top: 28px;
  padding-bottom: 5px;
}
.meet-our-team__p-occupation {
font-family: "Roboto", sans-serif;
font-style: italic;
font-weight: 300;
line-height: 24px;
color: #999999;
padding-bottom: 90px;
}
.meet-our-team__h2 {
  text-align: center;
}
.meet-our-team__ul {
  display: flex;
  text-align: center;
}


.overlay__ul {
list-style: none;
}

/* FOOTER */
.footer {
  display: flex;
  min-height: 62px;
}












/* .Rectangle_14 {
  background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
  position: absolute;
  left: 350px;
  top: 970px;
  width: 380px;
  height: 470px;
  z-index: 19;
}*/
