.site-title {
  color: $navigation-color;
  font-weight: bold;
  line-height: 1.2;
}

.site-title__subtitle {
  padding-top: 150px;
  padding-bottom: 30px;
  font-size: 72px;
  font-weight: 300;
  font-family: "Kaushan Script", sans-serif;
}

.site-title__tagline {
  margin: 0px auto;
  font-size: 150px;
  line-height: 0.933;
  width: 830px;
  padding-bottom: 120px;
}

.site-title__button {
  font-size: 14px;
  border-style: solid;
  border-width: 3px;
  border-color: $navigation-color;
  color: $navigation-color;
  background-color: transparent;
  width: 164px;
  height: 44px;
  cursor: pointer;
  margin-bottom: 230px;
}